$dark-red: #d1114d;
$dark-red-alpha: #d1114e63;
$light-white: #eed5d1;
$light-red: #f38592;
$light-red-alpha: #f385928a;
$med-red: #d65170;
$hero-shadow: rgba(0, 0, 0, 0.4);
$nav-shadow: rgba(0, 0, 0, 0.6);
$nav-element-shadow: rgba(0, 0, 0, 0.178);
$white: #fff;
$white-alpha: #ffffffbd;
$text-gray: #808080;
$hero-about: rgba(0, 0, 0, 0.04);
$goals-background: #1a1a1a;
$goals-p: #808080;
$goals-a-hover: #830d32;
$quality-shadow: rgba(0, 0, 0, 0.8);
$black: #000;
$dark-gray: rgb(8, 8, 8);
