@use './colors' as c;
header {
	background-position-y: -200px;
	height: 75vh;
	.header-wrapper {
		height: 75vh;
		a {
			display: none;
		}
	}
}

.offer {
	.offers-wrapper {
		justify-content: space-between;
		margin-top: -120px;
		margin-bottom: 50px;
		padding: 50px 30px;
		.single-offer-element {
			z-index: 5;
			background-color: c.$white;
		}
	}
}

.vision {
	align-items: center;
	position: relative;
	.vision-wrapper {
		position: relative;
		left: 50%;
		width: 50%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-self: flex-start;

		justify-content: space-between;
		.single-vision-element,
		.single-vision-element-big {
			p {
				font-size: 1.1rem;
			}
		}
		.single-vision-element-big {
			width: 100%;
			h3 {
				font-size: 1.1rem;
			}
			h2 {
				font-size: 1.6rem;
			}
		}
		.single-vision-element {
			h2 {
				font-size: 1.4rem;
				padding-top: 70px;
			}
		}
	}
}

.goals {
	.goals-wrapper {
		height: 30vh;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		.goals-group {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			width: 50%;
		
			
			.goals-img-one,
			.goals-img-two,
			.goals-text {
				background-size: cover;
				height: 100%;
				
			}
			
			.goals-img-two {
				background-image: url('../img/goals2.jpeg');
				background-position:0 75% ;
			}
			.goals-text{
				padding: 40px 30px;
				
				
			}
		}
	}
}
