@use './colors' as c;
header {
	background-position-y: -200px;
	height: 75vh;
	.header-wrapper {
		height: 75vh;
		a {
			display: none;
		}
	}
}

.offer {
	.offers-wrapper {
		justify-content: space-between;
		margin-top: -120px;
		margin-bottom: 50px;
		padding: 50px 30px;
		.single-offer-element {
			z-index: 5;
			background-color: c.$white;
		}
	}
}

.vision {
	align-items: center;
	position: relative;

	.vision-wrapper {
		position: relative;
		left: 50%;
		width: 50%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-self: flex-start;

		justify-content: space-between;
		.single-vision-element,
		.single-vision-element-big {
			p {
				font-size: 1.1rem;
			}
		}
		.single-vision-element-big {
			width: 100%;
			h3 {
				font-size: 1.1rem;
			}
			h2 {
				font-size: 1.6rem;
			}
		}
		.single-vision-element {
			h2 {
				font-size: 1.4rem;
				padding-top: 70px;
			}
		}
	}
}

.goals {
	height: 50vh;
	.goals-wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		min-height: 400px;
		.goals-group {
			display: flex;
			flex-direction: row;
			flex-wrap: nowrap;
			width: 50%;

			.goals-img-one,
			.goals-img-two,
			.goals-text {
				background-size: cover;
				height: 100%;
			}

			.goals-img-two {
				background-image: url('../img/goals2.jpeg');
				background-position: 0 75%;
			}
			.goals-text {
				padding: 40px 30px;
				a {
					font-size: 1.3rem;
					transition: a, 0.3s;
				}
				a:hover {
					color: c.$goals-a-hover;
				}
			}
		}
	}
}

.gallery {
	margin-top: 50px;
	
	.gallery-wrapper {
		.gallery-title {
			h3 {
				font-size: 1.3rem;
			}

			h2 {
				font-size: 1.8rem;
			}
		}
		.gallery-img {
			flex-direction: row;
			flex-wrap: wrap;
			img {
				
				width: 25%;
				padding: 3px 3px;
			}
		}
	}
}

.why-us {
	.why-us-wrapper {
		.why-us-text {
			padding-left: 20px;
			h2,h3{
				text-align-last: left;
			}
			ol {
				font-size: 1.2rem;
				padding-left: 20px;
			}
		}
	}
}
