@use './colors' as c;
header {
	background-position-y: -200px;
	height: 75vh;
	.header-wrapper {
		height: 75vh;
		a {
			display: none;
		}
	}
}

.offer {
	.offers-wrapper {
		justify-content: space-between;
		margin-top: -120px;
		margin-bottom: 50px;
		padding: 50px 30px;
		.single-offer-element {
			z-index: 5;
			background-color: c.$white;
			transition: scale, 0.3s ease-out;
		}
		.single-offer-element:hover {
			scale: 1.1;
		}
	}
}

.vision {
	align-items: center;
	position: relative;

	.vision-wrapper {
		position: relative;
		left: 50%;
		width: 50%;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-self: flex-start;

		justify-content: space-between;
		.single-vision-element,
		.single-vision-element-big {
			p {
				font-size: 1.1rem;
			}
		}
		.single-vision-element-big {
			width: 100%;
			h3 {
				font-size: 1.1rem;
			}
			h2 {
				font-size: 1.6rem;
			}
		}
		.single-vision-element {
			h2 {
				font-size: 1.4rem;
				padding-top: 70px;
			}
		}
	}
}

.gallery {
	margin-top: 50px;

	.gallery-wrapper {
		.gallery-title {
			h3 {
				font-size: 1.3rem;
			}

			h2 {
				font-size: 1.8rem;
			}
		}
		.gallery-img {
			flex-direction: row;
			flex-wrap: wrap;
			img {
				width: 25%;
				padding: 3px 3px;
			}
		}
	}
}

.why-us {
	.why-us-wrapper {
		.why-us-text {
			padding-left: 20px;
			h2,
			h3 {
				text-align-last: left;
			}
			ol {
				font-size: 1.2rem;
				padding-left: 20px;
			}
		}
	}
}

.designers {
	min-height: 0;

	background-position: center;

	.designers-wrapper {
		width: 50%;
		justify-content: space-between;
		.designers-single-item {
			background: none;
			padding: 20px 40px;
			p {
				font-size: 1.1rem;
			}
		}
	}
}

.quality {
	.quality-wrapper {
		text-align: center;
		.quality-text {
			margin: 10% 0;

			justify-content: center;
		}
		h3 {
			color: c.$dark-red;
			font-size: 1.6rem;
			padding: 40px;
		}
		h2 {
			color: c.$white;
			font-size: 2.5rem;
			padding: 40px 50px;
		}
	}
}

.contact {
	.contact-text {
		h2 {
			font-size: 2.5rem;
			padding-bottom: 30px;
		}
		p {
			font-size: 1.5rem;
		}
	}

	.contact-map {
		iframe {
			padding: 0 30px;
			width: 700px;
			height: 700px;
		}
	}
}
