// header
@use './colors' as c;
header {
	.header-wrapper {
		align-items: flex-start;
		h1,
		h5 {
			padding-left: 100px;
		}
		h1 {
			font-size: 4rem;
			line-height: 70px;
		}
		a {
			bottom: 150px;
			align-self: center;
			padding: 30px 40px;
		}
	}
}

// offer

.offer {
	.offers-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		flex-wrap: wrap;
		align-items: center;

		padding: 50px 30px;
		.single-offer-element {
			width: 300px;
			height: 350px;
			background-color: c.$white;
		}
	}
}

// vision

.vision {
	display: flex;

	justify-content: space-around;
	background-position: left;
	background-image: url('../img/vision-hero.jpeg');
	background-repeat: no-repeat;
	background-size: cover;

	.vision-wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		.single-vision-element {
			width: 48%;
			padding-top: 80px;
		}
	}
}

// goals

.goals {
	.goals-wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		height: 50%;

		.goals-group {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			height: 100%;

			img {
				width: 50%;
			}
			.goals-text {
				width: 50%;
			}

			.goals-text {
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
			}
		}
	}
}

// gallery
.gallery {
	.gallery-wrapper {
		.gallery-img {
			flex-direction: row;
			flex-wrap: wrap;
			img {
				width: 50%;
				padding: 20px 30px;
			}
		}
	}
}

// why us

.why-us {
	padding: 30px 20px;
	.why-us-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		.why-us-text {
			width: 50%;

			h3 {
				font-size: 1.5rem;
			}
			h2 {
				font-size: 2rem;
			}
			ol {
				font-size: 1.2rem;
			}
		}
		.why-us-img {
			width: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}
