// header
@use './colors' as c;
header {
	.header-wrapper {
		align-items: flex-start;
		h1,
		h5 {
			padding-left: 100px;
		}
		h1 {
			font-size: 4rem;
			line-height: 70px;
		}
		a {
			bottom: 150px;
			align-self: center;
			padding: 30px 40px;
		}
	}
}

// offer

.offer {
	.offers-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		flex-wrap: wrap;
		align-items: center;

		padding: 50px 30px;
		.single-offer-element {
			width: 300px;
			height: 350px;
			background-color: c.$white;
		}
	}
}

// vision

.vision {
	display: flex;

	justify-content: space-around;
	background-position: left;
	background-image: url('../img/vision-hero.jpeg');
	background-repeat: no-repeat;
	background-size: cover;

	.vision-wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		.single-vision-element {
			width: 48%;
			padding-top: 80px;
		}
	}
}

// goals

.goals {
	.goals-wrapper {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		height: 50vh;

		.goals-group {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			height: 100%;

			.goals-img-one,
			.goals-img-two,
			.goals-text {
				background-size: cover;
				height: 100%;
				width: 50vw;
			}

			.goals-img-two {
				background-image: url('../img/goals2.jpeg');
				background-position: center;
			}
			.goals-text {
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
			}
		}
	}
}
