@use './colors' as c;
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}
body {
	font-family: 'Lato', sans-serif;
	font-size: 10px;
}
.container {
	margin: 0 auto;
	max-width: 1400px;
}

// nawigacja

nav {
	width: 100%;
	position: fixed;
	z-index: 10;
	.nav-wrapper {
		display: flex;
		justify-content: space-between;

		.brand-name {
			font-size: 1.5rem;
			color: c.$light-white;
			font-weight: 400;
			letter-spacing: 2px;

			padding: 20px 20px;

			text-transform: uppercase;
		}

		.bruger-icon {
			color: c.$light-white;
			background: none;
			border: none;
			z-index: 10;
			cursor: pointer;
			i {
				font-size: 1.5rem;
				padding: 20px;
			}
		}

		.hamburger-menu {
			width: 100%;
			height: 100%;
			background-color: c.$nav-shadow;
			position: fixed;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			overflow-y: auto;

			ul {
				position: relative;

				li {
					position: relative;
					list-style: none;

					display: block;
					padding: 15px 0;
					text-align: center;

					a {
						color: c.$white;
						position: relative;
						text-decoration: none;
						text-align: center;
						font-size: 3rem;
						padding: 0 10px;
						text-transform: uppercase;
						display: inline-block;
						transition: 0.3s;
					}
					a:hover {
						color: c.$med-red;
						padding: 50px 300px;
						border-radius: 20px;
						width: 100%;
					}
				}
			}
		}

		.d-none {
			display: none;
		}
	}
}

// header

header {
	height: 100vh;
	background-image: url('../img/header-hero.jpeg');
	position: relative;
	background-size: cover;
	z-index: 0;
	.hero-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: c.$hero-shadow;
		z-index: -5;
	}

	.header-wrapper {
		height: 100vh;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		h1,
		h5 {
			padding: 10px 30px;
			text-align: left;
			color: c.$white;
		}
		h5 {
			text-transform: uppercase;
			font-size: 1rem;
			font-weight: 400;
		}
		h1 {
			font-size: 2.2rem;
			line-height: 45px;

			span {
				color: c.$dark-red;
			}
		}
		a {
			position: absolute;
			bottom: 20px;
			background-color: c.$dark-red-alpha;
			text-decoration: none;
			color: c.$white;
			font-size: 1rem;
			font-weight: 700;
			text-transform: uppercase;
			// border: 2px solid c.$dark-red-alpha;
			padding: 20px 20px;
			border-radius: 10px;
			transition: color 0.3s;
			transition: background-color 0.3s;
		}
		a:hover {
			background-color: c.$light-red-alpha;
			color: c.$light-white;
		}
	}
}

// offer

.offer {
	.offers-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 20px 30px;
		.single-offer-element {
			border: 1px solid c.$light-white;
			text-align: center;
			margin: 20px 0;
			padding: 30px 30px;
			width: 284px;
			i {
				font-size: 2.5rem;
				color: c.$dark-red;
				padding: 15px 0;
			}
			h3 {
				font-size: 1.8rem;
				padding: 10px;
			}
			p {
				font-size: 1rem;
				color: c.$text-gray;
				font-style: italic;
				line-height: 25px;
			}
		}
	}
}

// vision
.vision {
	background-position: 11.25% 50%;
	background-image: url('../img/vision-hero.jpeg');
	background-repeat: no-repeat;
	background-size: cover;

	.vision-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: left;
		padding: 60px 30px;

		.single-vision-element-big,
		.single-vision-element {
			background-color: c.$white-alpha;
			padding: 30px 30px;
			margin-bottom: 30px;
		}
		.single-vision-element-big {
			h3 {
				color: c.$dark-red;
				padding-bottom: 10px;
				font-size: 1rem;
			}
			h2 {
				font-size: 1.4rem;
				padding-bottom: 20px;
			}
			p {
				font-size: 1rem;
			}
		}
		.single-vision-element {
			padding-top: 60px;
			h2 {
				font-size: 1.2rem;
				padding-bottom: 20px;
			}
			p {
				font-style: italic;
				font-size: 1rem;
			}
		}
	}
}
// goals

.goals {
	width: 100vw;
	.goals-wrapper {
		display: flex;
		flex-direction: column;
		.goals-group {
			display: flex;
			background-color: c.$goals-background;
			flex-direction: column;

			img {
				padding: 30px 10px;
				object-fit: contain;
			}
			.goals-text {
				padding: 30px 10px;
				h3 {
					font-size: 1.3rem;
					color: c.$dark-red;
					padding-bottom: 20px;
				}
				h2 {
					color: c.$white;
					font-size: 1.5rem;
					padding-bottom: 10px;
				}
				p {
					color: c.$goals-p;
					font-size: 1.1rem;
					font-style: italic;
					padding-bottom: 20px;
				}
				a {
					text-decoration: none;
					color: c.$dark-red;
					font-size: 1rem;
					padding: 15px 0;
				}
			}
		}
	}
}

// gallery

.gallery {
	.gallery-wrapper {
		display: flex;
		flex-direction: column;
		.gallery-title {
			display: flex;
			flex-direction: column;
			align-items: center;
			padding: 30px 20px;
			text-align: center;
			h3 {
				color: c.$dark-red;
				font-size: 1.2rem;
			}
			h2 {
				padding: 20px 0;
				font-size: 1.6rem;
			}
		}
		.gallery-img {
			display: flex;
			flex-direction: column;
			img {
				width: 100%;
				padding: 20px 30px;
			}
		}
	}
}

// why us

.why-us {
	padding: 30px 20px;
	.why-us-wrapper {
		display: flex;
		flex-direction: column;

		align-items: center;
		.why-us-text {
			h2,
			h3 {
				text-align: center;
			}
			h3 {
				color: c.$dark-red;
				font-size: 1.3rem;
				padding-bottom: 10px;
			}
			h2 {
				font-size: 1.5rem;
			}
			ol {
				font-size: 1rem;
				padding: 20px 20px;
				color: c.$goals-p;
				font-style: italic;
				li {
					padding: 10px 0;
				}
			}
		}
		.why-us-img{
			img{
				margin-top: 50px;
				width: 100%;
			}
		}
	}
}
